body {
  /*color: #40514e;*/
  font-family: 'Merriweather', serif;
  margin: 0px;
  text-align: center;
  position: relative;
  background-color: #E4F9F5;
}

.Nita{
  color: #11999E;
  margin-left: 0px;
}

.Nita:hover{
  color: #AAC4FF;
}

h1 {
  font-family: 'Sacramento', cursive;
  line-height: 2;
  /* 100% == 1em == 16px*/
  /* If we give in px then it will be fixed even when u chnage the font size in website (not zoom in, its chnanging the font) */
  /*if body has 2em font size n when it comes to h1 it will added by (7.625em) for dynamic one (% and em) and not for px which is static*/
  font-size: 5.625rem; /*rem, doesnt get effected by upstream */
  margin: 50px, auto, 0px, auto;
  margin-top: 50px;
  color: #66BFBF;
}

p{
  line-height: 2;
}

h2{
  padding-bottom: 10px;
   color: #66bfbf;
   font-family: 'Montserrat', sans-serif;
   font-size: 2.5rem;
   font-weight: normal;
}

h3{
   color: #11999E;
   font-family: 'Montserrat', sans-serif;
}

hr{
  /*border: dotted #eaf6f6 (color) 6px(width)*/
  border-style: none;
  border-top-style: dotted;
  border-color: #eaf6f6;
  border-width: 5px;
  width: 5%;
  margin: 100px auto;
}

.top_container {
  position: relative;
  padding-top: 100px;
}

.top-cloud{
  position: absolute;
  right: 350px;
  top: 40px;
}

.bottom-cloud{
  position: absolute;
  left: 350px;
  bottom: 300px;
}

.middle_container{
  margin-top: 100px;
  margin-bottom: 100px;
}

.mypic{
  border-radius: 50%;
  width: 25%;
}

.intro{
  margin: auto;
  width: 40%
}

.skill-row{
  display: inline-block;
  margin: 100px, auto, 100px, auto;
  width: 50%;
  text-align: left;
}

.computerskill{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.coding{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.communication{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.contact_messgae{
  margin: 40px auto 60px;
  width: 40%;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom_container{
  background-color: #66bfbf;
  padding: 50px 0px 20px;
}

a{
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  color: #11999E;
}

a:hover{
  color: #eaf6f6;
}

.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
/********* COMMON INLINE ELEMENTS **********/
/*
spans (<span>)
images (<img>)
Anchors (<a>)
*/
